html {
  height: 100%;
}

body {
  font-family: Georgia, KaiTi, "楷体", STKaiti, "华文楷体", serif;
  height: 100%;
  line-height: 1.5;
  color: #000;
}

.container {
  margin: 0 auto;
  display: table;
  width: 500px;
  height: 100%;
  font-size: 20px;
  text-align: center;
}

.container .main {
  display: table-cell;
  vertical-align: middle;
}

.author {
  font-size: 16px;
  text-align: right;
}

.small {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}